<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/userlist.js') }}"></script>
</head>
<body>
    <div class="container">
        <div class="user-list">
            <form class="user-list-form">
                <div class="header">
                    <h2 class="animation a1">USERS</h2>
                </div>
                <ol class="form animation a2">
                    <li>user1</li>
                    <li>user2</li>
                    <li>user3</li>
                    <li>user4</li>
                </ol>
            </form>

        </div>
    </div>
</body>
</html>